{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>   
    <link rel="stylesheet" href="{% static 'styles/new.css' %}">
    <link rel="stylesheet" href="{% static 'styles/chebox.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">

</head>
<body>
    <section>
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <p class="h5 my-0 me-md-auto fw-normal">Book store</p>
            <nav class="my-2 my-md-0 me-md-3">
              <a class="p-2 text-dark" href="#">Add input</a>
              <a class="p-2 text-dark" href="#"></a> 
            </nav>
        </header>

        <div class="book_container">
            
            {% for book in book_list %}
            <div class="book_item
            {% if book.is_favorite %}
                marked
            {% elif book.is_closed %}
                done    
            {% endif %}

            ">
                <div class="book_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"
                            {% if book.is_closed %}
                                checked
                            {% endif %}    
                        
                        />
                        <span class="checkmark"></span>
                    </label>
                    <h3><a href="{% url 'close-book' book.id %}">{{ book.title }}</a></h3>
                    <p>{{ book.subtitle }}</p>
                    <p>{{ book.description }}</p>   

                </div>
                <div class="book_item_footer">
                    <!-- <p>{{ book.date }}</p> -->
                    <div class="action_butons">
                        <a href="{% url 'info-book' book.id %}"> <img src="../static/icons/загружено.png"/></a>
                        {% if book.is_favorite %}
                        <a href="{% url 'nomarked-book' book.id %}"><img src="../static/icons/marked.jpg"/></a>   
                        {% else %}
                        <a href="{% url 'marked-book' book.id %}"><img src="../static/icons/nomarked.png"/></a>
                        {% endif %}
                        <a href="{% url 'delete-book' book.id %}"><img src="../static/icons/delete.jpg"/></a>
                    </div>
                </div>

            </div>
            {% endfor %}
           
        </div>

        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST" class="books__form">
              {% csrf_token %}
              <input type="text" class="create__input" 
              name="book_title" placeholder="Название книги">
              <input type="text" class="create__input" 
              name="book_subtitle" placeholder="Подзагловок">
              <input type="text" class="create__input" 
              name="book_description" placeholder="Описание">
              <input type="text" class="create__input" 
              name="book_author" placeholder="Автор">
              <input type="text" class="create__input" 
              name="book_price" placeholder="Цена">
              <input type="text" class="create__input" 
              name="book_genre" placeholder="Жанр">
              <input type="text" class="create__input" 
              name="book_year" placeholder="Год выпуска">
            
              <button class="create__btn">Добавить</button>
            
            </form>
        </div>
  

    </section>
    
</body>
</html>