{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>   
    <link rel="stylesheet" href="{% static 'styles/new.css' %}">
    
</head>
<body>
    <section>
        <header>
            <p>Book store</p>
        </header>
        
    
        <!-- <div>
        {% for book in book_list %}
            
            <p>{{ book.title }}</p>
            <p>{{ book.subtitle }}</p>
            <p>{{ book.description }}</p>
            
        {% endfor %}
        </div>  
         -->

        <div class="book_container">
            {% for book in book_list %}
            <div class="book_header">
                <div class="hour">
                    <img src="./bee4cbb7-8959-44fd-95bd-735b818106ff.jpg">
                </div>    
                <p>{{ book.title }}</p><br>
                <p>{{ book.subtitle }}</p><br>
                <p>{{ book.description }}</p><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur dolor adipisci dolorum aspernatur eaque repellat illo nam quas doloremque earum? Fugit dolorum libero eaque.</p>
            
            </div> 
            {% endfor %}  
        </div> 

        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST" class="books__form">
              {% csrf_token %}
              <input type="text" class="create__input" 
              name="book_title" placeholder="Название книги">
              <input type="text" class="create__input" 
              name="book_subtitle" placeholder="Подзагловок">
              <input type="text" class="create__input" 
              name="book_description" placeholder="Описание">
              <input type="text" class="create__input" 
              name="book_author" placeholder="Автор">
              <input type="text" class="create__input" 
              name="book_price" placeholder="Цена">
              <input type="text" class="create__input" 
              name="book_genre" placeholder="Жанр">
              <input type="text" class="create__input" 
              name="book_year" placeholder="Год выпуска">
            
              <button class="create__btn">Добавить</button>
            
           
              <!-- <input
                  class="create_input"
                  type="text"
                  placeholder="Напишите сюда новую задачу"
                  name="book_text"
                  
              /> -->
              
            </form>
        </div>
  

    </section>
    
</body>
</html>