{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add input</title>
    <link rel="stylesheet" href="{% static 'styles/new.css' %}">
    <link rel="stylesheet" href="{% static 'styles/chebox.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body>
    <section>
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <p class="h5 my-0 me-md-auto fw-normal">Book store</p>
            <nav class="my-2 my-md-0 me-md-3">
              <a class="p-2 text-dark" href="#">Add input</a>
              <a class="p-2 text-dark" href="#"></a> 
            </nav>
            <a class="btn btn-outline-primary" href="#">Sign up</a>
        </header>

        <div>
        {% for book in book_list %}
            
            <h3>{{ book.title }}</h3>>
            <p>{{ book.subtitle }}</p>
            <p>{{ book.description }}</p>
            <p>{{ book.price }}</p>
            <p>{{ book.genre }}</p>
            <p>{{ book.author }}</p>
            <p>Г{{ book.year }}</p>
            
        {% endfor %}
        </div> 

        
    </section>
    
</body>
</html>